.Cell {
  list-style: none;
  display: flex;
  font-size: 1em;
}
.Index {
  flex-grow: 0.15;
  flex-basis: 15px;
  text-align: center;
}
.Label {
  flex-grow: 3;
  flex-basis: 50px;
  text-align: center;
}
.Sub {
  flex-grow: 1;
  flex-basis: 50px;
  text-align: center;
}
.Edit {
  flex-grow: 0.15;
  flex-basis: 15px;
}
.Delete {
  flex-grow: 0.15;
  flex-basis: 15px;
}
