.List {
  padding: 8px;
  display: grid;
  grid-template-rows: 20fr 1fr;
  grid-template-columns: 80%;
  justify-content: center;
}
.List ul {
  overflow-y: auto;
}
.Add {
  display: flex;
}
.Add button {
  flex-grow: 1;
}
.Alt {
  font-size: 1.2em;
  text-align: center;
  margin: 4px 2px 0 2px;
  padding: 5px;
}
