.Label {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #41f0b0;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  margin: 2px;
}
.Hover:hover {
  background-color: #41f041;
}
