.Select {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 4px 2px 0 2px;
}
.Select select {
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #54d8a8;
  min-height: 5vh;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
  margin: 4px 2px 0 2px;
  cursor: pointer;
}
.Select select:focus {
  border: 1px solid #000;
  padding: 4px;
}
.Select p {
  font-size: 0.9em;
  font-family: 'Lora', serif;
  margin-left: 5px;
}
