.Groups {
  height: 90vh;
}
.List {
  height: 90%;
}

.Details {
  height: 100%;
}
.PopoutDetails {
  min-height: 50vh;
}
.PaginationSelect {
  position: fixed;
  bottom: 4px;
  right: 4px;
  font-size: 0.6em;
}
