.Popout {
  width: 50vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e7a6d;
  padding: 16px;
  border-radius: 5px;
}
.Close {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 320px) {
  .Popout {
    width: 80vw;
  }
}
@media (min-width: 321px) and (max-width: 720px) {
  .Popout {
    width: 70vw;
  }
}
@media (min-width: 721px) and (max-width: 1020px) {
  .Popout {
    width: 70vw;
  }
}
