.Sub {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #54d8a8;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
  margin: 4px 2px 0 2px;
}
