@media (max-width: 320px) {
  .Nav li a {
    font-size: 0.8em !important;
  }
}
@media (min-width: 321px) and (max-width: 650px) {
  .Nav li a {
    font-size: 0.9em !important;
  }
}
.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
  background-color: #00b760;
  grid-gap: 10px;
}
.Nav li {
  display: grid;
  list-style-type: none;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Nav li a:active {
  border: 1px solid #1e7a6d;
  border-radius: 10px;
}
.Nav li a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-family: 'Lora', serif;
}
.ActiveLink {
  color: #fff !important;
}
