.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
  background: linear-gradient(180deg, #007a3d, #00b760);
  grid-gap: 10px;
  font-size: 1.1em;
}
.Nav li {
  display: grid;
  list-style-type: none;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Nav li a:active {
  border: 1px solid #1e7a6d;
  border-radius: 10px;
}
.Nav li a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: 'Lora', serif;
}
.ActiveLink {
  color: #fff !important;
}
